
    <h2>Add Post</h2>
  <form (ngSubmit) ="onSubmit(f)" #f = "ngForm" >
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text"
              class="form-control"
              id="title"
              title="title"
              required 
              [(ngModel)] = "post.title">
    </div>
    <div>
     <label for="content">Content</label>
      <input type="text"
              class="form-control"
              id="content"
              content="content"
              required 
              [(ngModel)] = "post.content">
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      <input type="text"
              class="form-control"
              id="author"
              author="author"
              [(ngModel)] = "post.author">      
    </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
  </form>

