<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<h1 style="text-align:center;color:#205081;font-weight:bold;font-family:new times">Posts:</h1>
<div style="text-align:center">
<ul class="list-group posts" >
  <li 
   *ngFor = "let post of posts" 
    class="list-group-item" 
   [class.active]= "currentPost == post" 
   (click) = "select(post)"
   >
   
  <jce-post [post] = "post"></jce-post>
  
  </li>
</ul>
</div>

<jce-post-form (postAddedEvent) = "addPost($event)"></jce-post-form>
<jce-spinner [visible] = "isLoading"></jce-spinner>
<div>
  <ul class="list-group post">
    <li  *ngFor = "let post of posts" 
      class="list-group-item" 
   [class.active]= "currentPost == post" 
   (click) = "select(post)">
     <jce-post [post] = "post"  (deleteEvent) = "deleteUser($event)"></jce-post>
     

    </li>
  </ul>
</div>